.detalle{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

h3{
    color: #581845;
}

button{
 margin-top: 1rem;
 margin-bottom: 2rem;
 background-color: #F3F2B4;
 border-color: #581845;
 border-width: 1rem;
}

