header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    width: 100%;
    background-color: #6B0848;
    align-content: center;
    
}

h1{
    margin: 2rem 7rem 1rem 4rem;
    color: #FECEAB;
    text-decoration: none;
    font-weight:bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


li{
    width: 8rem;
    height: 4rem;
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    cursor: pointer;
    margin: 2rem;
   
}

.carritoCompras{
   width: 8rem;
   display: flex;
   align-content: center;
   margin-right: 1rem;
   background-color: #FFF6C3;
}
